APP_ENVIRONMENT = staging
SUPABASE_URL = https://khmeqbcevlkwvgehvuni.supabase.co
SUPABASE_PUBLISHABLE_KEY = sb_publishable_YVqWPoS6fojzzUv6ctGr0Q_07EVotNb
SUPABASE_REDIRECT_URL = hairmap://auth-callback
